html {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

h1 {
    border-bottom: solid;
    border-width: 1px;
    padding-bottom: 10px;
}

#preamble {
    text-align: right;
}

pre.src {
    font-family: Courier;
    width: 100%;
    color: black;
    background: lightgray;
    margin-left: auto;
    margin-right: auto;
    
}